<html>
    <head>
        <title>message board | about</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a href="/">messages</a></h2>
            <h2><a class="current" href="/about">about</a></h2>
            <h2><a href="/third">idk third</a></h2>
        </div>
        <div id="main">
            <h2>about</h2>
            <p><i>message board</i> is a simple message board application built with Node.js, Express, and MongoDB.</p>
            <p>you can post public messages by any name.</p>
            <p>so far, <%= numPosts %> messages have been posted. super slay.</p>
        </div>
    </body>
</html>
