<html>
    <head>
        <title>message board | messages</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a class="current" href="/">messages</a></h2>
            <h2><a href="/about">about</a></h2>
            <h2><a href="/third">idk third</a></h2>
        </div>
        <div id="main">
            <h2>messages</h2>
            <form method="post">
                <input type="text" name="sender" placeholder="name" required>
                <input type="text" name="content" placeholder="message" required>
                <button type="submit">post</button>
            </form>
            <% for (var i = 0; i < posts.length; i++) { %>
                <p class="post"><span class="sender"><%= posts[i].sender %></span>: <%= posts[i].content %></p>
            <% } %>
            <p>(...<%= numPosts %> more posts.)</p>
        </div>
    </body>
</html>
