<html>
    <head>
        <title>message board | third</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>message board</h1>
        <div id="nav">
            <h2><a href="/">messages</a></h2>
            <h2><a href="/about">about</a></h2>
            <h2><a class="current" href="/third">idk third</a></h2>
        </div>
        <div id="main">
            <p>apparently we need a third page, so here we are <3</p>
        </div>
    </body>
</html>
